{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href='{% static "css/index.css" %}' />
</head>

<body>
<div id="header">
<h1 style="background-color:black;color:white;text-align:center;padding:5px;">Game shop</h1>
</div>

<div id="nav">
FPS<br>
Strategy<br>
Arcade
</div>

<div id="section">
<h1>London</h1>
{% for obj in object_list %}
  {{ obj.title }}<br>
  {{obj.image}}<br>
  {{ obj.developer }}<br>
  {{ obj.publisher }}<br>
  {{ obj.price }}<br>
  {{ obj.category }}<br>
  {{ obj.quantity }}<br>
{% endfor %}
</div>

<div id="footer">
Copyright © habijabi.com
</div>

</body>
</html>
