{% extends "rbase.html" %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock %}

{% block filter %}
{% endblock %}

{% block grid %}
<br>
<h1 class="w3-padding">{{ object.title }}</h1>
<div class="w3-row">
  <div class="w3-container w3-half">
    <img src="{{object.image.url}}" class="w3-round" alt='{{obj.title}} cover' style="width:60%">
  </div>
  <div class="w3-container w3-half" style="font-size:20px">
    <b>Developer: </b>{{ object.developer }}<br><br>
    <b>Publisher: </b>{{ object.publisher }}<br><br>
    <b>Category: </b>{{ object.get_category_title }}<br><br>
    <b>Rating: </b>{{ object.avg_rating }}<br><br>
    <b>Price: </b>{{ object.get_price }}<br><br>
  </div>
</div>
{% endblock %}
